body{
	font-size: 14px;
	font-family: Helvetica;

}
.tab-content{
	background-color: #d3d3d3;
	width: 50%;
}
.title{
	font-size: 16px;
	font-weight: 600;
}

.tab-section{
	background-color: #d3d3d3;
	width: 380px;
}
ul{
	width: 330px;
}
li{
	text-decoration: none;
	display: inline-block;
	padding: 15px;
	background-color: #f3f3f3;
	margin: 5px;
}
.dropdown{
	display: block;
	width: 5%;
}
.tab{
	margin-top: -15px;
	padding: 10px;
	background-color: #d3d3d3;
}
.active{
	background-color: #d3d3d3;
	color:#333;
}
select{
	width:80px;
	margin-bottom: 15px;
	height: 40px;
	background-color: #337ab7;
	border-radius: 2px;
	color: #fff;

}
